* {
  font-family: "Cairo", sans-serif;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}

body {
  display: flex;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;

  background-color: #444344;

  color: #fff;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 240px;
  background-color: #2e2e2e;

  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li.guide_dropdown {
  padding: 10px;
  height: 50%;
}

li a.active {

  background-color: #e60012;
  color: #fff;
  font-weight: 600;
}

li a:hover:not(.active) {
  background-color: #444344;

  color: #fff;
}

a:link {

  color: #fff;
  font-size: 18px;
  background-color: transparent;
  text-decoration: none;
  
}

a:visited {

  color: #e60012;
  background-color: transparent;
  text-decoration: none;
}

.main-content {
  width: 100%;
  margin-left: 240px;
  padding: 1rem;
}

.discord-navigator {
  background: #252525;

  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.discord-qr-code {
  width: 96px;
  height: 96px;
}

.discord-link-bg {

  width: 100%;
  height: 100%;
  margin-right: 1rem;
  padding-left: 1rem;
}

/* .discord-link-bg:hover {
  border: 1px solid #000;
  background-color: #000;
  color: #e60012;
} */

a.discord-link {
  border-bottom: 2px solid #e60012;
}

a.discord-link:hover {
  color: #e60012;
}

#supporterSearch {
  background-image: url("/css/searchicon.png"); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  margin-bottom: 0.5rem;
  padding: 12px 40px 12px 40px;
  border: 1px solid #ddd; /* Add a grey border */
}

#supporters {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: calc(100vh - 6rem);

  position: static;
}

#supporters li a {
  border: 1px solid #444344;
  margin-top: -1px; /* Prevent double borders */
  background-color: #5b5b5b;
  padding: 12px 40px 12px 40px;
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: #fff;
  display: block; /* Make it into a block element to fill the whole list */
}

#supporters li a:hover:not(.header) {
  background-color: #2e2e2e;
}

#supporters::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#supporters {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#guide_text p{
  font-size: 20px;
  min-width: 30%;
  max-width: 80%;
}

#guide_text img{
  min-width: 20%;
  max-width: 40%;
}

#guide_text a:link {
  color: #e60012;
  background-color: transparent;
  text-decoration: none;
  border-bottom: none;
  
}

#guide_text iframe{
  width: 2600px;
  height: 1200px;
  max-height: 1200px;
  margin:0px;
  padding:0px;
  border:none;
  overflow:hidden;

  
  
}

#guide_text h2 {
  font-weight: bold;
  font-size: 36;
  margin-top: 20px;
  margin-bottom: 10px;
}


#guide_text h3 {
  font-weight: bold;
  margin-top: 20px;
  font-size: 30;
}

#guide_text h4 {
  font-weight: bold;
  margin-top: 20px;
  font-size: 24;
  
}
#guide_text h5 {
  font-weight: bold;
  margin-top: 20px;
  font-size: 24;
  
}

#guide_text code {
  background-color: #636263;
  color:#ddd;
}

#guide_text a:visited{
  color: #e60012;
  background-color: transparent;
  text-decoration: none;
  border-bottom: none;
}


#toc_list::-webkit-scrollbar {
  display: none;
}

  
#menu a {
  margin:0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#toc_list a:link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
#toc_list a:hover:not(.active) {
  color: #e60012;
  background-color: transparent;
  text-decoration: none;

  
}

#toc_list a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;

}
#toc_list {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: auto;

  position: static;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  
}

#toc_list ul {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: static;
  overflow: hidden; /* Hide scrollbars */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding-left: 5%;
}

#toc_list li {
  /* Remove default list styling */
  padding: 0;
  margin: 0;
  overflow: hidden; /* Hide scrollbars */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
